header img {
    width: 20%;
}

.gestionArticle {
    text-align: center;
}

.gestionArticleContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ficheArticle {
    background-color: #1D2B53;    
    display: flex;
    justify-content: center;
    padding: 50px;    
}


