.stockContainer {
    display: flex;
}

.gestionArticle {
    background-color: #365486;
    border: 1px solid black;
    height: 100%;
    padding: 10px;
    color: white;
}

.caract1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
}

.caract2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
}

.caract3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
}

.gestionArticleContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.ficheProduit {
    background-color: #365486;
    padding-left: 40px;
}

.ficheProduit img {
    background-color: white;
    margin-top: 20px;
    width: 70%;
}

.listeArticle{
    background-color: #365486;     
    padding: 20px; 
    border: 1px solid black;
    width: 100%; 
    text-align: center;
    height: 50px;
}

.listeArticle th {
    border: 1px solid black;
    color: white;
    background-color: black;
}

.listeArticle td {
    border: 1px solid black;
    background-color: white;
}





