.stockContainer {
    display: flex;
    gap: 50px;
}

.caracteristiques {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 20px;
}

.gestionArticle {
    display: flex;
    background-color: #d9d9d9;
    border: 1px solid black;
    margin-bottom: 20px;
    height: 200px;
}

.ficheArticle {
    background-color: white;
    height: 100%;
    width: 100%;
}

.gestionArticleContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.inputFiche {
    background-color: grey;
    text-align: center;
}

.listeArticle{
    background-color: #d9d9d9;    
    height: 550px; 
    padding: 20px; 
    border: 1px solid black;
    width: 100%; 
    text-align: center;
}



.listeArticle th {
    border: 1px solid black;
    color: white;
    background-color: black;
}

.listeArticle td {
    border: 1px solid black;
    background-color: white;
}




